.footer-text {
    position: absolute;
    width: 360px;
    height: 138px;
    left: 150px;
    top: 60px;
}

.footer-text img {
    width: 150px;
    height: 30px;
}

.footer-text p {
    position: absolute;
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.494118px;
    color: #77838F;
}

.footer-navigation-links {
    position: absolute;
    width: 346px;
    height: 179px;
    left: 637px;
    top: 60px;
}

.footer-navigation-links span {
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.688889px;
    color: #1E2022;
}

.footer-navigation-links ul {
    position: absolute;
    left: -40px;
}

.footer-navigation-links ul li {
    margin-bottom: 10px;
}

.footer-navigation-services {
    position: absolute;
    width: 151px;
    height: 179px;
    left: 832px;
    top: 60px;
}

.footer-navigation-services span {
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.688889px;
    color: #1E2022;
}

.footer-navigation-services ul {
    position: absolute;
    left: -40px;
}

.footer-navigation-services ul li {
    margin-bottom: 10px;
}

.footer-contact {
    position: absolute;
    width: 197px;
    height: 156px;
    left: 1028px;
    top: 60px;
}

.footer-line {
    position: absolute;
    left: 0;
    right: 0;
    width: 80%;
    height: 1px;
    border: 0;
    background: #EEEEEE;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.footer-copyright {
    position: absolute;
    height: 19px;
    left: 38.16%;
    right: 38.16%;
    top: calc(50% - 19px / 2 + 13px);
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #77838F;
    width: 300px;
}

.copyright {
    position: absolute;
    width: 1140px;
    height: 45px;
    left: 150px;
    top: 300px;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #77838F;;
}

.footer-contact-title {
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.688889px;
    color: #1E2022;
}

.footer-address {
    position: absolute;
    height: 52px;
    width: 250px;
    left: 0;
    right: 3.55%;
    top: calc(50% - 52px/2 - 12px);
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.875px;
    color: #77838F;
}

.footer-phone {
    position: absolute;
    height: 26px;
    width: 250px;
    left: 0;
    right: 15.23%;
    top: calc(50% - 26px/2 + 33px);
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.875px;
    color: #77838F;
}

.footer-email {
    position: absolute;
    height: 26px;
    width: 250px;
    left: 0;
    right: 0.51%;
    top: calc(50% - 26px/2 + 65px);
    font-family: 'Nunito', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.875px;
    color: #77838F;
}